<div class="input-group search-box">

  {{if .matchFields}}
    {{template "share/search_fields.html" .}}
  {{end}}
  <input name="searchText" type="text" class="form-control" placeholder="{{.placeholder}}">
  <div class="input-group-btn">
    <div class="btn-group" role="group">
      <div class="dropdown dropdown-lg">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span>&nbsp;</button>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <form class="form-horizontal search-form" role="form" action="#">

