{{- $labelWidth := (default .labelWidth "3" )}}
{{- $controlWidth := (default .controlWidth "9" )}}
{{- $fieldName := (default .fieldName .field.Name )}}
{{- $fieldLabel := (default .fieldLabel (default .field.Label .field.Name)) }}
{{- $inputTheme := (default .inputTheme "bootstrap3" ) }}
{{- $inputType := print  (index .field.Annotations "input_type")}}
{{- $context := (dict "formatValue" (default .value (indexValue $ $fieldName)))}}

{{- if eq $inputType "select" -}}
    {{- set $context "choices" .field.ToChoices -}}
{{- end -}}
{{- $fieldChoices := $context.choices}}
{{- $formatValue := (index $context "formatValue") -}}

{{- if eq $inputType "text" -}}
  {{- text_field . $fieldName (concat $fieldLabel ":") | f_setValue $formatValue  | f_addParams "default-value" (toString $formatValue) | f_addData "unmodifiable" .field.IsReadonly  | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth | f_addClass ( .field.CSSClasses ) |f_setTheme $inputTheme | render -}}
{{- else if  eq $inputType "area" -}}
  {{- textarea_field . $fieldName (concat $fieldLabel ":") 5 0 | f_setValue $formatValue  | f_addParams "default-value" (toString $formatValue) | f_addData "unmodifiable" .field.IsReadonly | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth | f_addClass ( .field.CSSClasses ) |f_setTheme $inputTheme | render -}}
{{- else if eq $inputType "select" -}}
  {{- if .field.HasChoices -}}
    {{- if .field.IsArray -}}
      {{select_field . $fieldName (concat $fieldLabel ":") ( $fieldChoices ) | f_addClass "chosen"| f_addParams "data-placeholder"  "请选择" |f_multiple | f_setValue ( default $formatValue  `[]` ) | f_addData "unmodifiable" .field.IsReadonly | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth |f_setTheme $inputTheme | render -}}
    {{- else}}
      {{select_field . $fieldName (concat $fieldLabel ":") ( $fieldChoices ) | f_setValue $formatValue  | f_addParams "default-value" (toString $formatValue) | f_addData "unmodifiable" .field.IsReadonly | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth |f_setTheme $inputTheme | render -}}
    {{- end}}
  {{- else}}
    {{select_field . $fieldName (concat $fieldLabel ":") `[]` | f_setValue $formatValue  | f_addParams "default-value" (toString $formatValue) | f_addData "unmodifiable" .field.IsReadonly | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth |f_setTheme $inputTheme | render -}}
  {{- end}}
{{- else if eq $inputType "checkbox"}}
    {{checkbox_field . $fieldName  $fieldLabel | f_setValue $formatValue | f_addData "unmodifiable" .field.IsReadonly | f_addData "labelWidth" $labelWidth | f_addData "controlWidth" $controlWidth | f_addClass ( .field.CSSClasses ) |f_setTheme $inputTheme | render -}}
{{- else}}
  {{- template "share/field_input_basic.html" . -}}
{{- end -}}

