

        </div>
      <div class="modal-footer">
        {{if .showSearch}}
            <input name="modalSearch" type="text" placeholder="请输入查询关键字" class="form-control" style="width: 200px;float: left;" />
        {{end}}

        {{- if .buttons}}
          {{- range .buttons}}

            {{if .type }}
                {{if eq .type "link"}}
                    <a {{if .id}}id="{{.id}}"{{end}} href='{{.url}}'  class="btn {{if .classes}}{{.classes}}{{else}}btn-default{{end}}" {{if .target}}target="{{.target}}"{{end}}>
                        {{.title}}
                    </a>
                {{else}}
                     <button {{if .id}}id="{{.id}}"{{end}} type="button" class="btn {{if .classes}}{{.classes}}{{else}}btn-default{{end}}" {{if .onclick}}onclick="{{js .onclick}}"{{end}}>{{.title}}</button>
                {{- end}}
            {{else}}
                <button {{if .id}}id="{{.id}}"{{end}} type="button" class="btn {{if .classes}}{{.classes}}{{else}}btn-default{{end}}" {{if .onclick}}onclick="{{js .onclick}}"{{end}}>{{.title}}</button>
            {{- end}}
          {{- end}}
        {{- end}}
        <button id="btnOk" type="{{if .buttonType}}{{.buttonType}}{{else}}button{{end}}" class="btn btn-primary">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>