.field-tag > .field-tag-wrap {
    border-radius: 3px;

    color: #000;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;

    position: relative;
    padding: 6px 12px 6px 44px;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    vertical-align: middle;
    touch-action: manipulation;

    user-select: none;
    background: #eff7ff none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.field-tag-wrap > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.field-tag-wrap > :last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 34px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.field-tag-wrap > :last-child .fa {
    cursor: pointer;
}

