

#wrapper .brand {
    position: relative;
    left: 40px;
    top: 10px;
    width: 80px;
    height: 80px;
}

.ibox-content > form {
    margin-top: 10px;
}

#page-wrapper > .alert {
    margin-top: 2px;
    margin-bottom: 1px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#page-wrapper > .alert + .fh-no-breadcrumb {
    height: calc(100% - 155px);
}

.full-height-fixed {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-y: scroll;
    overflow-x: hidden;
}

body.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
}

.footer {
    margin-left:220px;
}

body.fixed-sidebar.mini-navbar .footer {
    margin-left: 0;
}