

<div class="col-lg-{{default .fieldWidth 4}} field-tag m-b-xs">
  <div class="field-tag-wrap">
    {{if .forJsRender}}
    <span class="fa fa-facebook"></span> {^{>name}}
    {{else}}
    <span class="fa fa-facebook"></span> {{.name}}
    {{end}}
    <span>
      {{if .showEdit}}
        <span class="fa fa-edit" title="编辑属性"></span>
      {{end}}
      {{if .showRemove}}
        <span class="fa fa-trash" title="删除属性"></span>
      {{end}}
    </span>
  </div>

  {{if .forJsRender}}
  {{raw `
  <input class="field-index" data-link="
                  value{:#index}
                  " type="hidden" />
  <input data-link="
                  name{:namePrefix + '.Id'}
                  value{:id}
                  " type="hidden" />
  <input data-link="
                  name{:namePrefix + '.Name'}
                  value{:name}
                  " type="hidden" />
  <input data-link="
                  name{:namePrefix + '.Type'}
                  value{:type}
                  " type="hidden" />
  <input data-link="
                  name{:namePrefix + '.Description'}
                  value{:description}
                  " type="hidden" />
  <input class="field-data" data-link="
                  name{:namePrefix + '.Data'}
                  value{:data}
                  " type="hidden" />
  `}}
  {{else}}
  <input class="field-index" type="hidden" name="{{.namePrefix}}.Id" value="{{.id}}" />
  <input type="hidden" name="{{.namePrefix}}.Name" value="{{.name}}" />
  <input type="hidden" name="{{.namePrefix}}.Type" value="{{.type}}" />
  <input type="hidden" name="{{.namePrefix}}.Description" value="{{.description}}" />
  <input class="field-data" type="hidden" name="{{.namePrefix}}.Data" value="{{.data}}" />
  {{end}}
</div>