{{template "share/modal_header.html" args | arg "title" "单行输入域" | arg "id" "addTextModal"}}
<form class="form-horizontal">
  {{text_field . "name" "名称:" | f_addClass "required" | f_addParams "placeholder" "请输入属性显示名称" | render}}
  {{select_field . "type" "数据类型:" `[{"id": "string", "val": "字符"}, {"id": "number", "val": "数值"}, {"id": "date", "val": "日期"}]` | f_setValue "false" | render}}
  {{textarea_field . "description" "描述:" 5 0 | render}}
</form>
{{template "share/modal_footer_for_edit.html" .}}

{{template "share/modal_header.html" args | arg "title" "多行输入域" | arg "id" "addAreaModal"}}
<form class="form-horizontal">
  {{text_field . "name" "名称:" | f_addClass "required" | f_addParams "placeholder" "请输入属性显示名称" | render}}
  {{hidden_field . "type" | f_setValue "text" | render}}
  {{textarea_field . "description" "描述:" 5 0 | render}}
</form>
{{template "share/modal_footer_for_edit.html" .}}

{{template "share/modal_header.html" args | arg "title" "列表选择框" | arg "id" "addSelectModal"}}
<form class="form-horizontal">
  {{text_field . "name" "名称:" | f_addClass "required" | f_addParams "placeholder" "请输入属性显示名称" | render}}
  {{textarea_field . "description" "描述:" 5 0 | render}}
  {{hidden_field . "type" | f_setValue "text" | render}}
  {{radio_field . "multiple" "模式:" `[{"id": "false", "val": "单选"}, {"id": "true", "val": "多选"}]` | f_setValue "false" | render}}
  {{template "share/form/wrap_field_header.html" args | arg "label" "可选项:"}}
    <input name="options" type="text" id="optionValue" class="tagsinput-options form-control required force-validate">
    <span class="help-block">
      可连续输入多个选项,每次回车结束单个选项的输入。
    </span>
  {{template "share/form/wrap_field_footer.html" .}}
  
</form>

{{append . "moreScripts" "biz/field_edit_modals.js"}}
{{template "share/modal_footer_for_edit.html" .}}