<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="logo-header">
      <image style="height:48px;" src="{{urlRoot "/web/resources/images/logo_long.png"}}" />
    </div>
    <div id="sys-title" style="float:none;" class="navbar-header navbar-top-links welcome-message">{{if .header_title_text}}{{.header_title_text}}{{else}}{{.global.header_title_text}}{{end}}</div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a id="currentUserLink" href="{{if .currentUser}}{{urljoin .global.url_root "/um/hengweiusers/edit" | urlParam "id" .currentUser.ID}}{{else}}#{{end}}">
            <i class="fa fa-user"></i>{{if .currentUser}}{{if .currentUser.Nickname}}{{.currentUser.Nickname}}{{else}}{{.currentUser.Name}}{{end}}{{else}}{{if .currentUsername}}{{.currentUsername}}{{else}}欢迎您！{{end}}{{end}}
        </a>
      </li>
      <li>
        <a href="{{.global.user_logout_url}}">
          <i class="fa fa-sign-out"></i> 退出
        </a>
      </li>
    </ul>

    {{- if and .global.managed_objects_url (not .currentUser.IsGuest)}}
    <ul class="nav navbar-top-links navbar-right stat-bar-wrapper consequent-load" refresh-interval="60" remote-url="{{.global.managed_objects_url}}">
    </ul>
    {{- end}}

    {{- if and .global.backgroud_tasks_url (not .currentUser.IsGuest)}}
    <ul class="nav navbar-top-links navbar-right entries" url-prefix="{{.global.backgroud_tasks_url}}">
    </ul>
    {{- end}}

    {{- if and .global.alert_stat_new_url (not .currentUser.IsGuest)}}
    <ul class="nav navbar-top-links navbar-right alert-bar-wrapper consequent-load" remote-url="{{.global.alert_stat_new_url}}">
    </ul>
    {{- end}}
    <div class="navbar-header" style="float:right;">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
  </nav>
  <script type="text/javascript">
    $(function(){
      var linkUrl = $("#currentUserLink").attr("href");
      if(linkUrl.indexOf("returnTo") < 0) {
        linkUrl += (linkUrl.indexOf("?") > 0 ? "&" : "?") + "returnTo=" + encodeURIComponent(window.location.pathname + window.location.search);

        $("#currentUserLink").attr("href", linkUrl);
      }
    })
  </script>
</div>